.open-matches-container {
  h1 {
    margin-bottom: 2rem;
    color: #333;
    font-size: 2rem;
  }

  mat-card {
    mat-card-content {
      padding: 2rem;

      p {
        margin-bottom: 1rem;
      }
    }
  }
}
