# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Web CI

on:
  push:
    branches: [ "master" ]
    paths:
      - 'src/web/**'
  pull_request:
    branches: [ "master" ]
    paths:
      - 'src/web/**'

jobs:
  build:

    runs-on: ubuntu-24.04

    strategy:
      matrix:
        node-version: [24.x]

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: src/web/package-lock.json
    - run: npm ci
      working-directory: src/web
    - run: npm run build --if-present
      working-directory: src/web
    - name: Run tests
      run: npm run test:ci
      working-directory: src/web
